
.header {
  background-color: rgb(17, 17, 17);
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
}

.auction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-auction {
  text-align: center;
}

.auction-item {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
  margin: 10px;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-auction {
  height: 600px;
  width: 500px;
  border-radius: 10px;
  background-color: black;  
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auction-form {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.auction-form-field {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
}

.create-button {
  background-color: rgb(40, 151, 241);
}

.cancel-button {
  background-color: red;
}