.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-auction {
  height: 600px;
  width: 500px;
  border-radius: 10px;
  background-color: black;  
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}